@import url(https://fonts.googleapis.com/css?family=Fredoka+One);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #2b2b2b, #474747);
}

input[type="button"] {
        width: 50;
        height: 50;
        font-size: 25;
        margin: 2;
        cursor: pointer;
        background: #67656b;
        border: none;
        color: white;
    }
    
    .textview{
        width: 217;
        margin: 5;
        font-size: 25;
        padding: 5;
        border: none;
        color: #67656b;
    }
    
    .main{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
    /* Animação de fade in de uma cor ao
    passar o mouse por cima dos botões */
    .mousefade{
        display: inline-block;
        vertical-align: middle;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        overflow: hidden;
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
        -webkit-transition-property: color, background-color;
        transition-property: color, background-color;
    }
      .mousefade:hover, .mousefade:focus, .mousefade:active {
        background-color: #808080;
        color: white;
    }

/* Ajustes do texto */
.content{
    position: relative;
    padding-bottom: 500;
}

.content h2{
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 4em;
    font-family: 'Fredoka One', sans-serif;
}

.content h2:nth-child(1){
    color: transparent;
    -webkit-text-stroke: 2px #ffffff;
}

/* Animação de onda do texto*/
.content h2:nth-child(2){
    color: #ff00ee;
    animation: animate 4s ease-in-out infinite, color-change 10s infinite;
}
@keyframes animate{
    0%, 100% {
        clip-path: polygon(0 46%, 16% 45%, 31% 52%, 54% 63%, 68% 63%, 83% 58%, 100% 53%, 100% 100%, 0% 99%);
    }
    50% {
        clip-path: polygon(0 55%, 16% 60%, 31% 61%, 51% 58%, 71% 47%, 89% 42%, 100% 44%, 100% 100%, 0% 99%);
    }
}

/* Animação de troca de cor suave do texto */
@keyframes color-change {
    0% { color: #f54242; }
    10% { color: #f57b42; }
    20% { color: #f5c242; }
    30% { color: #b9f542; }
    40% { color: #72f542; }
    50% { color: #42f56c; }
    60% { color: #42f5b3; }
    70% { color: #424bf5; }
    80% { color: #8442f5; }
    90% { color: #d742f5; }
    100% { color: #ff00ee;}
}